# Copy this file to .env and adjust values
SECRET_KEY=django-insecure-change-me-in-production-!@#$%^&*()
DEBUG=True
ALLOWED_HOSTS=*

# Database — use 'db' for Docker, 'localhost' for local dev
DB_NAME=facturacion
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Celery — use 'redis' for Docker, 'localhost' for local dev
CELERY_BROKER_URL=redis://localhost:6379/0

# CORS
CORS_ALLOW_ALL=True
